<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caper.psychological_counseling.mapper.AreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.caper.psychological_counseling.model.domain.Area">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="area_name" property="areaName" />
        <result column="status" property="status" />
    </resultMap>

    <select id="selectAreaVOByOrgId" resultType="com.caper.psychological_counseling.model.vo.AreaVO">
        select id, area_name from area where org_id = #{org_id}
    </select>
</mapper>
