<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caper.psychological_counseling.mapper.ConsultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.caper.psychological_counseling.model.domain.Consult">
        <id column="id" property="id" />
        <result column="application_id" property="applicationId" />
        <result column="status" property="status" />
        <result column="type" property="type" />
        <result column="result" property="result" />
        <result column="evaluate" property="evaluate" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <sql id="base_col">
        id, status, type, result, evaluate
    </sql>

    <select id="selectConsultsByApplicationIds" resultType="com.caper.psychological_counseling.model.vo.ConsultVO">
        select <include refid="base_col"/>
        from consult
        where application_id in
        <foreach collection="application_ids" item="application_id" index="index" open="(" close=")" separator=",">
            #{application_id}
        </foreach>
        and is_deleted = 0
    </select>
</mapper>
