<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caper.psychological_counseling.mapper.ScheduleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.caper.psychological_counseling.model.domain.Schedule">
        <id column="id" property="id" />
        <result column="week" property="week" />
        <result column="date" property="date" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="user_id" property="userId" />
        <result column="area_id" property="areaId" />
        <result column="is_occupied" property="occupied" />
        <result column="is_deleted" property="deleted" />
    </resultMap>


<!--    <insert id="insertSchedules">-->
<!--        insert into `schedule` (`week`, date, begin_time, end_time, user_id, area_id, is_occupied, is_deleted) values-->
<!--        <foreach collection="schedules" item="schedule" separator=",">-->
<!--            (#{schedule.week}, #{schedule.date}, #{schedule.beginTime}, #{schedule.endTime}, #{schedule.userId}, #{schedule.areaId}, #{schedule.occupied}, #{schedule.deleted})-->
<!--        </foreach>-->
<!--    </insert>-->

<!--    <insert id="save" parameterType="com.caper.psychological_counseling.model.dto.SingleScheduleDTO" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into `schedule` (`week`, date, begin_time, end_time, user_id, area_id, is_occupied, is_deleted) values-->
<!--            (#{singleScheduleDTO.week}, #{singleScheduleDTO.date}, #{singleScheduleDTO.beginTime}, #{singleScheduleDTO.endTime}, #{singleScheduleDTO.userId}, #{singleScheduleDTO.areaId}, 0, 0)-->
<!--    </insert>-->

    <select id="selectByAreaIdAndDate" resultType="java.lang.Long">
        select id from schedule
        where area_id = #{area_id}
        and date >= #{date}
    </select>

    <select id="selectByDateAndOrgId" resultType="java.lang.Long">
        select a.id from schedule a
        left join area b on a.area_id = b.id
        where date >= #{date}
        and b.org_id = #{org_id}
    </select>

    <select id="selectByDateAndOccupiedAndOrgId" resultType="java.lang.Long">
        select a.id from schedule a
        left join area b on a.area_id = b.id
        where date >= #{date}
        and a.is_occupied > 1
        and b.org_id = #{org_id}
    </select>

    <select id="selectByOrgId" resultType="java.lang.Long">
        select a.id from schedule a
        left join area b on a.area_id = b.id
        where b.org_id = #{org_id}
    </select>

    <update id="updateOccupiedById">
        update schedule
        set is_occupied = is_occupied + 1
        where id = #{schedule_id}
    </update>
</mapper>
