<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caper.psychological_counseling.mapper.SystemMapper" >

    <select id="selectMenuTree"
            resultType="com.caper.psychological_counseling.model.domain.SysMenu">
        SELECT id,menu_pid,menu_pids,is_leaf,menu_name,url,icon,sort,level,status
        FROM sys_menu o
        <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
            AND (menu_pids like CONCAT('%[',#{rootMenuId},']%') OR id = #{rootMenuId})
            <if test="menuNameLike !=null and menuNameLike != '' " >
                AND menu_name like CONCAT('%',#{menuNameLike},'%')
            </if>
            <if test="menuStatus !=null " >
                AND status = #{menuStatus}
            </if>
        </trim>
        ORDER BY level,sort
    </select>

    <select id="selectMenuByUsername"
            resultType="com.caper.psychological_counseling.model.domain.SysMenu">
        SELECT m.id,menu_pid,menu_pids,is_leaf,menu_name,url,icon,sort,level,status
        FROM sys_menu m
        LEFT JOIN sys_role_menu rm ON m.id = rm.menu_id
        LEFT JOIN sys_user_role ur ON ur.role_id = rm.role_id
        LEFT JOIN sys_user u ON u.id = ur.user_id
        WHERE u.username = #{username}
        ORDER BY level,sort
    </select>

    <select id="selectOrgTree"
            resultType="com.caper.psychological_counseling.model.domain.Organization">
        SELECT id,org_id,org_ids,is_leaf as leaf,org_name,address,telephone,email,sort,level,status
        FROM organization o
        <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
            AND (org_ids like CONCAT('%[',#{rootOrgId},']%') OR id = #{rootOrgId})
            AND level &lt;= '2'
            <if test="orgNameLike != null and orgNameLike != '' " >
                AND org_name like CONCAT('%',#{orgNameLike},'%')
            </if>
            <if test="orgStatus != null " >
                AND status = #{orgStatus}
            </if>
        </trim>
        ORDER BY level,sort
    </select>

    <select id="selectAreaOrgTree"
            resultType="com.caper.psychological_counseling.model.domain.Organization">
        SELECT id,org_id,org_ids,is_leaf as leaf,org_name,address,telephone,email,sort,level,status
        FROM organization o
        <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
            AND (org_ids like CONCAT('%[',#{rootOrgId},']%') OR id = #{rootOrgId} )
            AND level &lt;= '2'
            <if test="orgNameLike != null and orgNameLike != '' " >
                AND org_name like CONCAT('%',#{orgNameLike},'%')
            </if>
            <if test="orgStatus != null " >
                AND status = #{orgStatus}
            </if>
        </trim>
        ORDER BY level,sort
    </select>

    <select id="selectAreasByOrgId"
            resultType="com.caper.psychological_counseling.model.domain.Organization">
        SELECT id,org_id,1 as leaf,area_name as org_name
        from area
        where org_id = #{org_id}
    </select>

</mapper>