<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caper.psychological_counseling.mapper.VisitRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.caper.psychological_counseling.model.domain.VisitRecord">
        <id column="id" property="id" />
        <result column="application_id" property="applicationId" />
        <result column="stu_id" property="stuId" />
        <result column="system_id" property="systemId" />
        <result column="is_checked" property="checked" />
        <result column="rank" property="rank" />
        <result column="status" property="status" />
        <result column="type" property="type" />
        <result column="diag" property="diag" />
        <result column="result" property="result" />
        <result column="schedule_id" property="scheduleId" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <select id="selectByDateAndChecked" resultType="com.caper.psychological_counseling.model.vo.VisitRecordScheduleVO">
        select a.id, a.application_id, a.stu_id, b.name as stu_name, a.schedule_id, c.week, c.date, c.begin_time, c.end_time,
                c.user_id as tea_id, d.name as tea_name, c.area_id, e.area_name
        from visit_record a
        left join sys_user b on a.stu_id = b.id
        left join schedule c on a.schedule_id = c.id
        left join sys_user d on c.user_id = d.id
        left join area e on c.area_id = e.id
        where
        a.is_deleted = 0
        and a.is_checked = 0
        and a.schedule_id in
        <foreach collection="schedules" item="schedule" index="index" open="(" close=")" separator=",">
            #{schedule}
        </foreach>
    </select>
</mapper>
